In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
os.chdir("C:\\Users\\MANDY\\Desktop\\fina")

In [2]:
df1 = pd.read_csv("iv3.csv")

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 2 columns):
Variable    31 non-null object
IV          31 non-null float64
dtypes: float64(1), object(1)
memory usage: 624.0+ bytes

In [4]:
df1.describe

<bound method NDFrame.describe of                                              Variable        IV
0                                        EXT_SOURCE_3  0.374047
1                                        EXT_SOURCE_2  0.281281
2                                         DAYS_CREDIT  0.133829
3                                       DAYS_EMPLOYED  0.104740
4                                  DAYS_CREDIT_UPDATE  0.100323
5                                    AMT_GOODS_PRICE1  0.097433
6                                          DAYS_BIRTH  0.089701
7                                 DAYS_CREDIT_ENDDATE  0.080745
8                                 AMT_CREDIT_SUM_DEBT  0.060214
9                        NAME_CONTRACT_STATUS_Refused  0.048447
10                             DAYS_LAST_PHONE_CHANGE  0.046832
11                                        AMT_CREDIT1  0.046763
12                        REGION_RATING_CLIENT_W_CITY  0.046563
13                               CREDIT_ACTIVE_Active  0.043769
14                               REGION_RATING_CLIENT  0.043275
15                           NAME_INCOME_TYPE_Working  0.042376
16               NAME_EDUCATION_TYPE_Higher education  0.041819
17                                      DAYS_DECISION  0.039190
18                                 DAYS_ENTRY_PAYMENT  0.037668
19                                      CODE_GENDER_M  0.037566
20                                      CODE_GENDER_F  0.037552
21                                    DAYS_ID_PUBLISH  0.037446
22                                    DAYS_INSTALMENT  0.036598
23                               AMT_CREDIT_SUM_LIMIT  0.035078
24                         NAME_INCOME_TYPE_Pensioner  0.034944
25                              ORGANIZATION_TYPE_XNA  0.034910
26                                     FLAG_EMP_PHONE  0.034875
27                          NAME_PRODUCT_TYPE_walk-in  0.033932
28                         REGION_POPULATION_RELATIVE  0.032331
29                             REG_CITY_NOT_WORK_CITY  0.031511
30  NAME_EDUCATION_TYPE_Secondary / secondary special  0.030779>

In [5]:
df2 = pd.read_csv("merged_train_inner.csv")

In [6]:
df3=pd.DataFrame()

In [7]:
for i in range(0,df1.shape[0]):
    df3[df1.loc[i,'Variable']]=df2.loc[:,df1.loc[i,'Variable']]

In [8]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247032 entries, 0 to 247031
Data columns (total 31 columns):
EXT_SOURCE_3                                         247032 non-null float64
EXT_SOURCE_2                                         247032 non-null float64
DAYS_CREDIT                                          247032 non-null float64
DAYS_EMPLOYED                                        247032 non-null int64
DAYS_CREDIT_UPDATE                                   247032 non-null float64
AMT_GOODS_PRICE1                                     247032 non-null float64
DAYS_BIRTH                                           247032 non-null int64
DAYS_CREDIT_ENDDATE                                  247032 non-null float64
AMT_CREDIT_SUM_DEBT                                  247032 non-null float64
NAME_CONTRACT_STATUS_Refused                         247032 non-null int64
DAYS_LAST_PHONE_CHANGE                               247032 non-null float64
AMT_CREDIT1                                          247032 non-null float64
REGION_RATING_CLIENT_W_CITY                          247032 non-null int64
CREDIT_ACTIVE_Active                                 247032 non-null int64
REGION_RATING_CLIENT                                 247032 non-null int64
NAME_INCOME_TYPE_Working                             247032 non-null int64
NAME_EDUCATION_TYPE_Higher education                 247032 non-null int64
DAYS_DECISION                                        247032 non-null float64
DAYS_ENTRY_PAYMENT                                   247032 non-null float64
CODE_GENDER_M                                        247032 non-null int64
CODE_GENDER_F                                        247032 non-null int64
DAYS_ID_PUBLISH                                      247032 non-null int64
DAYS_INSTALMENT                                      247032 non-null float64
AMT_CREDIT_SUM_LIMIT                                 247032 non-null float64
NAME_INCOME_TYPE_Pensioner                           247032 non-null int64
ORGANIZATION_TYPE_XNA                                247032 non-null int64
FLAG_EMP_PHONE                                       247032 non-null int64
NAME_PRODUCT_TYPE_walk-in                            247032 non-null int64
REGION_POPULATION_RELATIVE                           247032 non-null float64
REG_CITY_NOT_WORK_CITY                               247032 non-null int64
NAME_EDUCATION_TYPE_Secondary / secondary special    247032 non-null int64
dtypes: float64(14), int64(17)
memory usage: 58.4 MB

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import make_scorer
from sklearn.metrics import confusion_matrix, precision_recall_curve, roc_curve, auc, log_loss
from sklearn.metrics import roc_auc_score

In [10]:
df3['TARGET']=df2.TARGET

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(df3.drop(columns='TARGET'), df3['TARGET'], test_size = 0.2, random_state = 200)
print("X Training shape", X_train.shape)
print("X Testing shape", X_test.shape)
print("Y Training shape", Y_train.shape)
print("Y Testing shape", Y_test.shape)

X Training shape (197625, 31)
X Testing shape (49407, 31)
Y Training shape (197625,)
Y Testing shape (49407,)

In [12]:
logreg = LogisticRegression(random_state=0, class_weight='balanced', C=100)
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

#Y_pred_proba = logreg.predict_proba(X_test)

print('Train/Test split results:')
#print(logreg.__class__.__name__+" accuracy is %2.3f" % accuracy_score(Y_test, Y_pred))
print("ROC",  roc_auc_score(Y_test, Y_pred))

C:\Users\MANDY\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Train/Test split results:
ROC 0.6414521185710739