In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
os.chdir("C:\\Users\\MANDY\\Desktop\\fina")

In [6]:
data = pd.read_csv("iv2.csv")

In [3]:
df1.columns

Index(['Variable', 'IV'], dtype='object')

In [4]:
df1.nunique

<bound method DataFrame.nunique of                                              Variable        IV
0                                        EXT_SOURCE_3  0.374047
1                                        EXT_SOURCE_2  0.281281
2                                         DAYS_CREDIT  0.133829
3                                       DAYS_EMPLOYED  0.104740
4                                  DAYS_CREDIT_UPDATE  0.100323
5                                    AMT_GOODS_PRICE1  0.097433
6                                          DAYS_BIRTH  0.089701
7                                 DAYS_CREDIT_ENDDATE  0.080745
8                                 AMT_CREDIT_SUM_DEBT  0.060214
9                        NAME_CONTRACT_STATUS_Refused  0.048447
10                             DAYS_LAST_PHONE_CHANGE  0.046832
11                                        AMT_CREDIT1  0.046763
12                        REGION_RATING_CLIENT_W_CITY  0.046563
13                               CREDIT_ACTIVE_Active  0.043769
14                               REGION_RATING_CLIENT  0.043275
15                           NAME_INCOME_TYPE_Working  0.042376
16               NAME_EDUCATION_TYPE_Higher education  0.041819
17                                      DAYS_DECISION  0.039190
18                                 DAYS_ENTRY_PAYMENT  0.037668
19                                      CODE_GENDER_M  0.037566
20                                      CODE_GENDER_F  0.037552
21                                    DAYS_ID_PUBLISH  0.037446
22                                    DAYS_INSTALMENT  0.036598
23                               AMT_CREDIT_SUM_LIMIT  0.035078
24                         NAME_INCOME_TYPE_Pensioner  0.034944
25                              ORGANIZATION_TYPE_XNA  0.034910
26                                     FLAG_EMP_PHONE  0.034875
27                          NAME_PRODUCT_TYPE_walk-in  0.033932
28                         REGION_POPULATION_RELATIVE  0.032331
29                             REG_CITY_NOT_WORK_CITY  0.031511
30  NAME_EDUCATION_TYPE_Secondary / secondary special  0.030779
31                               CREDIT_ACTIVE_Closed  0.029418
32                                       AMT_ANNUITY1  0.028999
33                                  DAYS_REGISTRATION  0.028669
34                                    FLAG_DOCUMENT_3  0.027177
35                               NAME_YIELD_GROUP_XNA  0.025519
36                              CODE_REJECT_REASON_HC  0.025215
37                                    MONTHS_BALANCE2  0.024923
38                        NAME_CONTRACT_STATUS_Active  0.023222
39                NAME_CONTRACT_TYPE_Revolving loans2  0.022600
40                              NAME_PAYMENT_TYPE_XNA  0.022502
41                             REG_CITY_NOT_LIVE_CITY  0.022009
42                    PRODUCT_COMBINATION_Card Street  0.021668>

In [6]:
df2 = pd.read_csv("merged_train_inner.csv")

In [7]:
df3=pd.DataFrame()

In [8]:
for i in range(0,df1.shape[0]):
    df3[df1.loc[i,'Variable']]=df2.loc[:,df1.loc[i,'Variable']]

In [17]:
df1.columns

Index(['Variable', 'IV'], dtype='object')

In [23]:
df3.head()

,EXT_SOURCE_3,EXT_SOURCE_2,DAYS_CREDIT,DAYS_EMPLOYED,DAYS_CREDIT_UPDATE,AMT_GOODS_PRICE1,DAYS_BIRTH,DAYS_CREDIT_ENDDATE,AMT_CREDIT_SUM_DEBT,NAME_CONTRACT_STATUS_Refused,...,DAYS_REGISTRATION,FLAG_DOCUMENT_3,NAME_YIELD_GROUP_XNA,CODE_REJECT_REASON_HC,MONTHS_BALANCE2,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_TYPE_Revolving loans2,NAME_PAYMENT_TYPE_XNA,REG_CITY_NOT_LIVE_CITY,PRODUCT_COMBINATION_Card Street
0,0.139376,0.262949,-874.000000,-637,-499.875,351000.0,-9461,-277.750000,30722.625,0,...,-3648.0,1,0,0,-10.000000,19.0,0,1,0,0
1,0.535276,0.622246,-1400.750000,-1188,-816.000,1129500.0,-16765,-544.500000,0.000,0,...,-1186.0,1,0,0,-43.785714,26.0,0,1,0,0
2,0.729567,0.555912,-867.000000,-225,-532.000,135000.0,-19046,-488.500000,0.000,0,...,-4260.0,0,0,0,-25.500000,3.0,0,0,0,0
3,0.535276,0.322738,-1149.000000,-3038,-783.000,513000.0,-19932,-783.000000,0.000,0,...,-4311.0,0,0,0,-33.636364,62.0,0,1,0,0
4,0.621226,0.354225,-757.333333,-1588,-611.000,454500.0,-16941,-391.333333,80019.000,0,...,-4970.0,1,1,0,-43.662651,78.0,0,1,0,0

In [24]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247032 entries, 0 to 247031
Data columns (total 43 columns):
EXT_SOURCE_3                                         247032 non-null float64
EXT_SOURCE_2                                         247032 non-null float64
DAYS_CREDIT                                          247032 non-null float64
DAYS_EMPLOYED                                        247032 non-null int64
DAYS_CREDIT_UPDATE                                   247032 non-null float64
AMT_GOODS_PRICE1                                     247032 non-null float64
DAYS_BIRTH                                           247032 non-null int64
DAYS_CREDIT_ENDDATE                                  247032 non-null float64
AMT_CREDIT_SUM_DEBT                                  247032 non-null float64
NAME_CONTRACT_STATUS_Refused                         247032 non-null int64
DAYS_LAST_PHONE_CHANGE                               247032 non-null float64
AMT_CREDIT1                                          247032 non-null float64
REGION_RATING_CLIENT_W_CITY                          247032 non-null int64
CREDIT_ACTIVE_Active                                 247032 non-null int64
REGION_RATING_CLIENT                                 247032 non-null int64
NAME_INCOME_TYPE_Working                             247032 non-null int64
NAME_EDUCATION_TYPE_Higher education                 247032 non-null int64
DAYS_DECISION                                        247032 non-null float64
DAYS_ENTRY_PAYMENT                                   247032 non-null float64
CODE_GENDER_M                                        247032 non-null int64
CODE_GENDER_F                                        247032 non-null int64
DAYS_ID_PUBLISH                                      247032 non-null int64
DAYS_INSTALMENT                                      247032 non-null float64
AMT_CREDIT_SUM_LIMIT                                 247032 non-null float64
NAME_INCOME_TYPE_Pensioner                           247032 non-null int64
ORGANIZATION_TYPE_XNA                                247032 non-null int64
FLAG_EMP_PHONE                                       247032 non-null int64
NAME_PRODUCT_TYPE_walk-in                            247032 non-null int64
REGION_POPULATION_RELATIVE                           247032 non-null float64
REG_CITY_NOT_WORK_CITY                               247032 non-null int64
NAME_EDUCATION_TYPE_Secondary / secondary special    247032 non-null int64
CREDIT_ACTIVE_Closed                                 247032 non-null int64
AMT_ANNUITY1                                         247032 non-null float64
DAYS_REGISTRATION                                    247032 non-null float64
FLAG_DOCUMENT_3                                      247032 non-null int64
NAME_YIELD_GROUP_XNA                                 247032 non-null int64
CODE_REJECT_REASON_HC                                247032 non-null int64
MONTHS_BALANCE2                                      247032 non-null float64
NAME_CONTRACT_STATUS_Active                          247032 non-null float64
NAME_CONTRACT_TYPE_Revolving loans2                  247032 non-null int64
NAME_PAYMENT_TYPE_XNA                                247032 non-null int64
REG_CITY_NOT_LIVE_CITY                               247032 non-null int64
PRODUCT_COMBINATION_Card Street                      247032 non-null int64
dtypes: float64(18), int64(25)
memory usage: 81.0 MB

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import make_scorer
from sklearn.metrics import confusion_matrix, precision_recall_curve, roc_curve, auc, log_loss
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score

In [10]:
df3['TARGET']=df2.TARGET

In [65]:
X_train, X_test, Y_train, Y_test = train_test_split(df3.drop(columns='TARGET'), df3['TARGET'], test_size = 0.25, random_state = 100)
print("X Training shape", X_train.shape)
print("X Testing shape", X_test.shape)
print("Y Training shape", Y_train.shape)
print("Y Testing shape", Y_test.shape)

X Training shape (185274, 43)
X Testing shape (61758, 43)
Y Training shape (185274,)
Y Testing shape (61758,)

In [56]:
logreg = LogisticRegression(random_state=0, class_weight='balanced', C=10)
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

#Y_pred_proba = logreg.predict_proba(X_test)

print('Train/Test split results:')
#print(logreg.__class__.__name__+" accuracy is %2.3f" % accuracy_score(Y_test, Y_pred))
print("ROC",  roc_auc_score(Y_test, Y_pred))

Train/Test split results:
ROC 0.5822417679263228

C:\Users\MANDY\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [57]:
accuracy_score(Y_test, Y_pred)

0.6331693889529824

In [58]:
logreg = LogisticRegression(random_state=0, class_weight='balanced')
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

#Y_pred_proba = logreg.predict_proba(X_test)

print('Train/Test split results:')
#print(logreg.__class__.__name__+" accuracy is %2.3f" % accuracy_score(Y_test, Y_pred))
print("ROC",  roc_auc_score(Y_test, Y_pred))

Train/Test split results:
ROC 0.5820788397984927

C:\Users\MANDY\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [59]:
accuracy_score(Y_test, Y_pred)

0.6319954662294817

In [13]:
from imblearn.over_sampling import SMOTE

In [60]:
sm = SMOTE(random_state = 0)
X_train_res,y_train_res= sm.fit_sample(X_train, Y_train)

### implement after SMOTE

In [61]:
logreg = LogisticRegression(random_state=0, class_weight='balanced')
logreg.fit(X_train_res,y_train_res)
Y_pred = logreg.predict(X_test)

#Y_pred_proba = logreg.predict_proba(X_test)

print('Train/Test split results:')
#print(logreg.__class__.__name__+" accuracy is %2.3f" % accuracy_score(Y_test, Y_pred))
print("ROC",  roc_auc_score(Y_test, Y_pred))

Train/Test split results:
ROC 0.5824054463249667

C:\Users\MANDY\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
#### Use l2 penalaty

In [67]:
logreg = LogisticRegression(penalty='l2')
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

#Y_pred_proba = logreg.predict_proba(X_test)

print('Train/Test split results:')
#print(logreg.__class__.__name__+" accuracy is %2.3f" % accuracy_score(Y_test, Y_pred))
print("ROC",  roc_auc_score(Y_test, Y_pred))

Train/Test split results:
ROC 0.5

C:\Users\MANDY\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [68]:
accuracy_score(Y_test, Y_pred)

0.9220667767738593

In [69]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, Y_pred)

array([[56945,     0],
       [ 4813,     0]], dtype=int64)

In [7]:
import pandas as pd

# Calculate information value
def calc_iv(df, feature, target, pr=0):

    lst = []

    for i in range(df[feature].nunique()):
        val = list(df[feature].unique())[i]
        lst.append([feature, val, df[df[feature] == val].count()[feature], df[(df[feature] == val) & (df[target] == 1)].count()[feature]])

    data = pd.DataFrame(lst, columns=['Variable', 'Value', 'All', 'Bad'])
    data = data[data['Bad'] > 0]

    data['Share'] = data['All'] / data['All'].sum()
    data['Bad Rate'] = data['Bad'] / data['All']
    data['Distribution Good'] = (data['All'] - data['Bad']) / (data['All'].sum() - data['Bad'].sum())
    data['Distribution Bad'] = data['Bad'] / data['Bad'].sum()
    data['WoE'] = np.log(data['Distribution Good'] / data['Distribution Bad'])
    data['IV'] = (data['WoE'] * (data['Distribution Good'] - data['Distribution Bad'])).sum()

    data = data.sort_values(by=['Variable', 'Value'], ascending=True)

    if pr == 1:
        print(data)

    return data['IV'].values[0]